[run]
branch = True

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit = pyqg/tests/*
       pyqg/__init__.py
       pyqg/_version.py
       versioneer.py
