cython>=0.20
numpy>=2.2.4
pyfftw
future==1.0.0
importlib_metadata
iniconfig==2.1.0
Cython==3.0.12
packaging==24.2
pandas==2.2.3
pluggy==1.5.0
pyFFTW==0.15.0
pytest>=8.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==78.1.0
six==1.17.0
tomli==2.2.1
tzdata==2025.2
xarray==2025.3.1
ipython
ipykernel
